body {
  margin-top:2.5rem;
  font-family: Microsoft Yahei;
  font-size: 4vw;
}

.contain{
  position: relative;
  width: 700px;
  margin:0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3,h4{
  margin:0;
  color: #2e98fa;
}

p{
  line-height: 4rem;
}

input{
  color:white;
  background:linear-gradient(to top right,#6e61ff,#16adf7);
  height: 3.5rem;
  width: 35%;
  font-size:2.1rem;
}
ol li{
  margin:1rem 0;
}
